.sign-up {
  margin: 50px auto;
  height: 650px;
  width: 500px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.sign-up h2 {
  font-size: 35px;
  color: #2a414f;
  text-align: center;
}
.sign-up .input-group {
  margin: 20px 0;
}
.sign-up .input-group label {
  display: block;
  color: #2a414f;
  font-size: 17px;
  margin-left: 5px;
}
.sign-up .input-group input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  border-radius: 5px;
  font-size: 25px;
}
.form-submit {
  width: 415px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background-color: #2a414f;
  font-size: 20px;
  color: #fff;
}
.form-link {
  color: #ff9900;
  text-decoration: none;
}
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator div {
  height: 1px;
  width: 145px;
  background-color: #95a0a7;
}
.separator span {
  margin: 0 15px;
}
.google-signin {
  width: 415px;
  height: 55px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 20px;
}
